@* @model IEnumerable<WebShop.Models.Pie> *@

@model PieListViewModel

@* <h1>@ViewBag.CurrentCategory</h1> *@
<h1 class="mb-5">@Model.CurrentCategory</h1>
<div class="row">
@foreach (var pie in Model.Pies)
{
<div class="col-sm-4 mb-3">
    <div class="thumbnail">
        <img src="@pie.ImageThumbnailUrl" alt="@pie.Name" />
        <div class="caption">
            <h3 class="pull-right">@pie.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="pie" asp-action="details" asp-route-id="@pie.PieId">@pie.Name</a>
            </h3>
            <p>@pie.ShortDescription</p>
        </div>
    </div>
</div>    
}
</div>
